@model PruebasTechSLucia.Models.respuesta;
@{
    ViewData["Title"] = "Home Page";
}

<div class="text-center">
    <h1 class="display-4">Technical Assessment – Senior Sales Engineer </h1>
    <p>Ver detalles <a class="btn btn-primary" href="Home/Actions">Prueba técnica Lucia Lopez</a>.</p>

</div>
