@model PruebasTechSLucia.Models.respuesta;
@{
    ViewData["Title"] = "Home Page";
}

<div class="text-center">
    <h1 class="display-4">Technical Assessment – Tech Support Lead </h1>
    <p>Ver detalles <a href="Home/Actions" >Prueba técnica Lucia Lopez</a>.</p>

</div>
